{% extends "base.html" %} {% block title %}{{ titulo_seccion }} — CineMatch{% endblock %} {% block content %}
<div class="container"> 

  <h1 class="section-title">{{ titulo_seccion }}</h1>
  
  <!-- BUSCADOR -->
  <form class="navbar__search" action="{{ url_for('series.buscar') }}" method="get">
      <input type="text" name="q" placeholder="Buscar serie..." value="{{ query if query else '' }}" class="navbar__input" />
      <button type="submit" class="navbar__btn">Buscar</button>
  </form>
  {% if series %}
  <!-- GRILLA DE SERIES -->
  <div class="row">
      {% for serie in series %}
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 gap-2 mb-3 mx-auto">
        <a href="{{ url_for('series.detalle', serie_id=serie.id) }}" class="card text-decoration-none h-100 w-100 d-flex" title="{{ serie.titulo }}">
          <div>
            {% if serie.poster %}
            <img src="{{ serie.poster }}" alt="{{ serie.titulo }}" class="img-fluid rounded" loading="lazy" /> 
            {% else %}
            <img src="https://placehold.co/600x400?text=img+no+disponible" alt="imagen-no-disponible" class="img-fluid rounded">
            {% endif %}
          </div>
          <div class="card-body">
            <span>⭐ {{ "%.1f"|format(serie.puntuacion) }}</span>
            <div class="fs-3">
              <h2 class="text-truncate" title="{{ serie.titulo }}">{{ serie.titulo }}</h2>
              <p class="fs-4">📅 {{ serie.fecha if serie.fecha else "Fecha desconocida" }}</p>
              <p class="text-body-secondary fs-5">{{ serie.descripcion[:120] }}{% if serie.descripcion|length > 120 %}...{% else %}"Esta Pelicula no tiene una descripción"{% endif %}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
  </div>
  
  <!-- PAGINACIÓN -->
  {% if total_paginas > 1 %}
  <nav class="pagination">
      {% if pagina_actual > 1 %}
      <a href="?{% if query %}q={{ query }}&{% endif %}page={{ pagina_actual - 1 }}" class="pagination__btn">← Anterior</a> {% endif %}
  
      <span class="pagination__info">Página {{ pagina_actual }} de {{ total_paginas }}</span> {% if pagina_actual
      < total_paginas %} <a href="?{% if query %}q={{ query }}&{% endif %}page={{ pagina_actual + 1 }}" class="pagination__btn">Siguiente →</a>
          {% endif %}
  </nav>
  {% endif %} {% else %}
  <div class="empty">
      <p class="empty__text">😕 No se encontraron resultados para "<strong>{{ query }}</strong>".</p>
      <a href="{{ url_for('series.explorar') }}" class="btn">Volver a series</a>
  </div>
</div>
{% endif %} {% endblock %}

